<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${board.name}]]</title>
</head>
<body>
<h1>[[${board.name}]]</h1>
<form th:action="@{/boards/{boardId}/search(boardId=${board.id})}" method="get">
    <input type="text" name="search_text" th:value="${search_text}">
    <select name="search_opt">
        <option value="제목">제목</option>
        <option value="내용">내용</option>
    </select>
    <button type="submit">검색</button>
</form>
<hr>
<ul>
    <div th:each="article: ${board.articles}">
        <li><a th:href="@{/article/{id}(id=${article.id})}">[[${article.title}]]</a></li>
    </div>
</ul>
<a th:href="@{/article/create(board=${board.id})}">게시글 작성</a><br>
<a href="/boards/">게시판 목록으로...</a>
</body>
</html>