<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 조회</title>
</head>
<body>
<div th:if="${article != null}">
    <h2 th:text="${article.title}"></h2>
    <p>작성자: [[${article.writer}]]</p>
    <p>내용: [[${article.content}]]</p>
    <a th:href="@{/article/{id}/update(id=${article.id})}">수정</a>
    <a th:href="@{/article/{id}/delete(id=${article.id})}">삭제</a>
    <a th:href="@{/boards/{id}(id=${article.getBoard().id})}">게시판으로 돌아가기...</a>
</div>

<div th:if="${article == null}">
    <p>잘못된 게시글 번호입니다.</p>
    <a href="/boards/">메인으로 돌아가기...</a>
</div>
</body>
</html>